<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.besay.appmusica">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilActivity"
            android:label="@string/title_mi_perfil"
            android:parentActivityName=".PrincipalActivity" />
        <activity
            android:name=".PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".MultiTabsActivity"
            android:label="@string/title_activity_noticias_tab"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".Top10Activity"
            android:label="@string/title_activity_top10"
            android:parentActivityName=".MultiTabsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.besay.appmusica.MultiTabsActivity" />
        </activity>
        <activity
            android:name=".ElvisActivity"
            android:label="@string/title_Elvis"
            android:parentActivityName=".MultiTabsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.besay.appmusica.MultiTabsActivity" />
        </activity>
        <activity android:name=".AyudaActivity"
            android:label="@string/title_Ayuda"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
    </activity>
        <activity
            android:name=".musica.CicloActivity"
            android:label="Mi Música"
            android:parentActivityName=".PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.besay.appmusica.PrincipalActivity" />
        </activity>

        <activity
            android:name=".musica.CicloInsercionActivity"
            android:parentActivityName=".musica.CicloActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".musica.CicloActivity" />
        </activity>

        <activity
            android:name=".musica.CicloActualizacionActivity"
            android:parentActivityName=".musica.CicloActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".musica.CicloActivity" />
        </activity>

        <provider
            android:name=".proveedor.ProveedorDeContenido"
            android:authorities="com.example.besay.appmusica.proveedor.ProveedorDeContenido"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>